@import "tailwindcss";

/* ===============================
   Root Variables
   =============================== */
:root {
  --theme-color: #2bb1a8;
  --bg-color: #111;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-blue: #007aff;
  --text-color: #fff;
  --link-color: #fff;
  --transition: all 0.5s ease-in-out;
}

/* ===============================
   Global Base Styles
   =============================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), sans-serif;
  font-size: 16px;
  line-height: 1.67;
  color: var(--text-color);
  background-color: var(--bg-color);
  word-break: break-word;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ===============================
   Links
   =============================== */
a {
  color: var(--link-color);
  text-decoration: none;
  white-space: normal;
  transition: var(--transition);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--theme-color);
  outline: none;
}

/* ===============================
   Images
   =============================== */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===============================
   Form Elements
   =============================== */
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  appearance: none;
  border: none;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  transition: var(--transition);
}

/* ===============================
   Lists & Paragraphs
   =============================== */
ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

p {
  margin: 0 0 1em;
  margin-block-start: 0;
  margin-block-end: 0.9rem;
}

.top-pd {
  padding-top: 50px;
}

.bottom-pd {
  padding-bottom: 50px;
}

.sec-pd {
  padding: 5% 0 5%;
}

.sec-hd {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.card-title {
  font-size: 22px;
  font-weight: 800;
  font-family: var(--font-poppins), sans-serif;
}

.card-title-sm {
 font-size: 17px;
  font-weight: 700;
}

.para {
  color: rgb(255 255 255 / 85%) !important;
  font-family: var(--font-poppins), sans-serif;
  font-size: 18px;
}

/* ===============================
   Utility Classes (Optional)
   =============================== */

.theme-color-bg {
  background: var(--theme-color) !important;
}

.theme-color {
  color: var(--theme-color);
}

.theme-bg {
  background-color: var(--bg-color);
}

.theme-btn {
  font-family: var(--font-poppins), sans-serif;

}


/* ---------Hover link---------- */
.hover-link {
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.hover-link:focus,
.hover-link:hover {
  color: var(--theme-color) !important;
}

.hover-link:focus:after,
.hover-link:hover:after {
  width: 100%;
  left: 0%;
}

.hover-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--theme-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



/* ----------icon---------- */
.icon-box {
  height: 70px;
  width: 70px;
  border: 1px solid #303030;
  border-radius: 100%;
}

.icon-box img {
    width: auto;
    height: auto;
    max-width: 65%;
    max-height: 65%;
    filter: invert(53%) sepia(67%) saturate(417%) hue-rotate(127deg) brightness(184%) contrast(95%);
}


/* ----------card--------- */
.card-para {
  font-size: 15px;
}

/* ===============================
   Custom Scrollbar (WebKit Browsers)
   =============================== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  border-radius: 10px;
  border: 2px solid var(--bg-color);
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-brown);
}

/* ===============================
   Firefox Scrollbar
   =============================== */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color) var(--bg-color);
}

.inline_block li {
  display: inline-block;
}

.inline_block {
  margin: 0;
  padding: 0;
}

.line {
  font-size: 22px;
  position: relative;
  color: var(--color-yellow);
  background-color: #ffffff;
  z-index: 1;
  padding: 0px 10px 0 10px;
}

.line::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 13px;
  top: 2px;
  right: -42px;
  border-bottom: 2px solid var(--color-yellow);
  z-index: -1;
}

.line::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 20px;
  right: -51px;
  top: 14px;
  border-bottom: 2px solid var(--color-yellow);
  z-index: -1;
}




/* /////////////////Home Page////////////////// */

/* ------------Hero---------- */
.hero-title {
  font-size: 70px;
  letter-spacing: -2.1px;
  line-height: 70px;
}

.hero-btn {
  font-size: 18px;
}